@media only screen and (min-width : 1200px) {
    .container { width: 1500px; }
}

@media (min-width: 960px){
  .MuiTab-root-51 {
      font-size: 1rem !important;
  }
}

@media only screen and (max-width: 320px) {

   .kural-list {
      font-size: x-small !important;
   }

}

@media only screen and (max-width: 414px) and (min-width: 375px) {

   .kural-list {
      font-size: small !important;
   }

}

.header-content{
  margin: 20px;
  text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0.5em !important;
    background-color: #fff;
    transition: opacity 0.15s ease;
}

.main-list{
   margin:0;
   overflow-y: scroll;
   height: calc(100vh - 240px)
}
.kural-list{
  padding: 0;
}

.kural-container{
  color: #3f51b5
}

.kural-container p:first-child{
  margin-bottom: 0 !important;
}

.horizontal-li{
  display: flex;
  flex-direction: row;
}
.muppaal-list{
  margin-top:5em;
}

.box-emphasize {
    border-color: #CCC;
    border-radius: 4px !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.list-group-item{
  cursor:pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

.text-danger{
  color: pink:
}

.pull-right{
  float:right;
}

.fixed-menu{
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}


.share-icon-parent{
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}
